:root {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: verdana, 'sans-serif';
  text-align: center;
  line-height: 1.5;
  background-color: black;
  color: white;
}

#title {
  font-size: 2rem;
  text-decoration: underline;
  padding: 2% 10% 0%;
}


#img-div {
  background-color: white;
  padding: 15px 15px 0px 15px;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#img-caption {
  color: black;
  padding: 10px;
}

#headline {
  margin: 40px 40px;
  font-size: 1.5rem;
}

.milestones {
  text-align: justify;
  padding: 0% 10%;
}

li {
  margin: 1em;
}

blockquote {
  font-style: italic;
  padding: 30px;
}

h3 {
  font-size: 1rem;
  padding: 0% 10% 2%;
}

a {
  color: grey;
  text-decoration: none;
}
